:root {
  /*colors*/
  --text-primary-black: rgba(0, 0, 0, 0.75);
  /*font sizes*/
  --font-size-1: 11px;
  --font-size-2: 13px;
  --font-size-3: 15px;
  --font-size-4: 17px;
  --font-size-5: 19px;
  --font-size-6: 21px;
  --font-size-main-header: 44px;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  min-height: 80vh;
}

.table-cell-align > td,
th {
  text-align: center;
  vertical-align: middle;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
